<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathanturnbull.guitarturnerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FrontPage" />
        <activity android:name=".RecordPage" />
        <activity android:name=".AddRecordPage" />
        <activity android:name=".MetronomePage" />
        <activity android:name=".LyricsPage" />
        <activity android:name=".AddLyricsPage" />
        <activity
            android:name=".FrontPageNav"
            android:label="@string/title_activity_front_page_nav"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>